node-red/Menu_total.json
[
    {
        "id": "d451658bea50c2e8",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "53071bf084f49635",
        "type": "mqtt in",
        "z": "d451658bea50c2e8",
        "name": "",
        "topic": "capstone/salon/virtual/voltaje",
        "qos": "2",
        "datatype": "auto",
        "broker": "d2702cc73ce33638",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 80,
        "wires": [
            [
                "78707409e3395711"
            ]
        ]
    },
    {
        "id": "78707409e3395711",
        "type": "json",
        "z": "d451658bea50c2e8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "201f33cd404596ef",
        "type": "json",
        "z": "d451658bea50c2e8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "4697d9a630e17c5d",
                "b887c10eb3799a23",
                "d50b64d9e1089783"
            ]
        ]
    },
    {
        "id": "77181953a5be1134",
        "type": "mqtt in",
        "z": "d451658bea50c2e8",
        "name": "",
        "topic": "capstone/salon/virtual/RPM",
        "qos": "2",
        "datatype": "utf8",
        "broker": "d2702cc73ce33638",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "201f33cd404596ef"
            ]
        ]
    },
    {
        "id": "91fa2802223eccbe",
        "type": "ui_slider",
        "z": "d451658bea50c2e8",
        "name": "",
        "label": "Porcentaje del Voltaje",
        "tooltip": "",
        "group": "8e940804943804a9",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "capstone/salon/virtual/voltaje",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "34933a13ca6b0868",
                "ebf340f569a64701",
                "e0294093903b71f9"
            ]
        ]
    },
    {
        "id": "34933a13ca6b0868",
        "type": "mqtt out",
        "z": "d451658bea50c2e8",
        "name": "",
        "topic": "capstone/salon/virtual/voltaje",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d2702cc73ce33638",
        "x": 440,
        "y": 300,
        "wires": []
    },
    {
        "id": "ebf340f569a64701",
        "type": "ui_text",
        "z": "d451658bea50c2e8",
        "group": "8e940804943804a9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Porcentaje",
        "label": "% V",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 390,
        "y": 420,
        "wires": []
    },
    {
        "id": "135621fa28c5324b",
        "type": "debug",
        "z": "d451658bea50c2e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "4697d9a630e17c5d",
        "type": "ui_gauge",
        "z": "d451658bea50c2e8",
        "name": "",
        "group": "3c8e0259d6e180da",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Velocidad ",
        "label": "RPM's",
        "format": "{{value}}",
        "min": 0,
        "max": "12000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "b887c10eb3799a23",
        "type": "ui_chart",
        "z": "d451658bea50c2e8",
        "name": "",
        "group": "871b919ff6aff6bd",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Comparación",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "12000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ef2929",
            "#ff7f0e",
            "#2ca02c",
            "#fce94f",
            "#000000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "423bde8345947257",
        "type": "ui_slider",
        "z": "d451658bea50c2e8",
        "name": "",
        "label": "Voltaje",
        "tooltip": "",
        "group": "698d3a03016e9be6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "12",
        "step": "0.12",
        "className": "",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "0f98c48484aff0c8",
                "b9398913af52a769",
                "cf60afceb5d1bb22"
            ]
        ]
    },
    {
        "id": "0f98c48484aff0c8",
        "type": "function",
        "z": "d451658bea50c2e8",
        "name": "",
        "func": "msg.payload=Math.floor(msg.payload*100/12);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 500,
        "wires": [
            [
                "135621fa28c5324b",
                "7b5fba6056084c4e"
            ]
        ]
    },
    {
        "id": "b9398913af52a769",
        "type": "ui_text",
        "z": "d451658bea50c2e8",
        "group": "698d3a03016e9be6",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltaje",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 270,
        "y": 620,
        "wires": []
    },
    {
        "id": "7b5fba6056084c4e",
        "type": "mqtt out",
        "z": "d451658bea50c2e8",
        "name": "",
        "topic": "capstone/salon/virtual/voltaje",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d2702cc73ce33638",
        "x": 760,
        "y": 540,
        "wires": []
    },
    {
        "id": "e0294093903b71f9",
        "type": "ui_chart",
        "z": "d451658bea50c2e8",
        "name": "",
        "group": "8e940804943804a9",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Porcentaje vs Tiempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a392184436442312",
        "type": "mqtt in",
        "z": "d451658bea50c2e8",
        "name": "",
        "topic": "capstone/salon/virtual/RPMsim",
        "qos": "2",
        "datatype": "auto",
        "broker": "d2702cc73ce33638",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "ac5b1dde9fa90f0f"
            ]
        ]
    },
    {
        "id": "ac5b1dde9fa90f0f",
        "type": "json",
        "z": "d451658bea50c2e8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "289be952334ca1e4",
                "b78873e68da77f87",
                "b887c10eb3799a23",
                "fd1dbeaf4652b3a6"
            ]
        ]
    },
    {
        "id": "289be952334ca1e4",
        "type": "ui_chart",
        "z": "d451658bea50c2e8",
        "name": "",
        "group": "04fd0b5dab664d73",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "RPM's vs Tiempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "11000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b78873e68da77f87",
        "type": "debug",
        "z": "d451658bea50c2e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "cf60afceb5d1bb22",
        "type": "ui_chart",
        "z": "d451658bea50c2e8",
        "name": "",
        "group": "698d3a03016e9be6",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Voltaje vs Tiempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "12",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 330,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "d50b64d9e1089783",
        "type": "ui_chart",
        "z": "d451658bea50c2e8",
        "name": "",
        "group": "3c8e0259d6e180da",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "RPM's vs Tiempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "fd1dbeaf4652b3a6",
        "type": "ui_gauge",
        "z": "d451658bea50c2e8",
        "name": "",
        "group": "04fd0b5dab664d73",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Velocidad",
        "label": "RPM's",
        "format": "{{value}}",
        "min": 0,
        "max": "12000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "dbb2ce1e5e5cec2b",
        "type": "ui_template",
        "z": "d451658bea50c2e8",
        "group": "8e940804943804a9",
        "name": "Porcentaje",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "Mueve el slider a la derecha o izquierda.<br/>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1830,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d678100110e9eade",
        "type": "ui_button",
        "z": "d451658bea50c2e8",
        "name": "",
        "group": "82df09e35408e8c1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Porcentaje",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Capstone_Project_Voltaje\"],\"show\":[\"Capstone_Project_Porcentaje\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1170,
        "y": 300,
        "wires": [
            [
                "b7b6a2ba15cfb03e"
            ]
        ]
    },
    {
        "id": "6c7ab45ab6b7f2ea",
        "type": "ui_button",
        "z": "d451658bea50c2e8",
        "name": "",
        "group": "82df09e35408e8c1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Voltaje",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Capstone_Project_Porcentaje\"],\"show\":[\"Capstone_Project_Voltaje\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1190,
        "y": 380,
        "wires": [
            [
                "b7b6a2ba15cfb03e"
            ]
        ]
    },
    {
        "id": "31b2ec39dcc6fae2",
        "type": "inject",
        "z": "d451658bea50c2e8",
        "name": "Menú",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"group\":{\"hide\":[\"Capstone_Project_Voltaje\",\"Capstone Project_Porcentaje\"],\"show\":[\"Capstone_Project_Menu\"]}}",
        "payloadType": "json",
        "x": 1230,
        "y": 220,
        "wires": [
            [
                "b7b6a2ba15cfb03e"
            ]
        ]
    },
    {
        "id": "c06650279b0e6c08",
        "type": "ui_button",
        "z": "d451658bea50c2e8",
        "name": "",
        "group": "82df09e35408e8c1",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Calibración",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "-2",
        "payloadType": "str",
        "topic": "capstone/salon/virtual/voltaje",
        "topicType": "str",
        "x": 1190,
        "y": 480,
        "wires": [
            [
                "b7b6a2ba15cfb03e",
                "c2d95d13c6c73d87"
            ]
        ]
    },
    {
        "id": "9dd54eb4eb4fd350",
        "type": "ui_template",
        "z": "d451658bea50c2e8",
        "group": "698d3a03016e9be6",
        "name": "Voltaje",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "Mueve el slider a la derecha o izquierda.<br/>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1810,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "b7b6a2ba15cfb03e",
        "type": "ui_ui_control",
        "z": "d451658bea50c2e8",
        "name": "",
        "events": "change",
        "x": 1550,
        "y": 360,
        "wires": [
            [
                "dbb2ce1e5e5cec2b",
                "9dd54eb4eb4fd350",
                "6a6ca7e9eb509bf5",
                "15ed98cac01aec51"
            ]
        ]
    },
    {
        "id": "6a6ca7e9eb509bf5",
        "type": "ui_template",
        "z": "d451658bea50c2e8",
        "group": "04fd0b5dab664d73",
        "name": "Velocidad Simulación",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "Muestra la velocidad producida por el Voltaje en la Ecuación Diferencial",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1860,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "15ed98cac01aec51",
        "type": "ui_template",
        "z": "d451658bea50c2e8",
        "group": "3c8e0259d6e180da",
        "name": "Velocidad del Encoder",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "Muestra la velocidad producida por el Voltaje en el motor.",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1860,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c2d95d13c6c73d87",
        "type": "mqtt out",
        "z": "d451658bea50c2e8",
        "name": "",
        "topic": "capstone/salon/virtual/voltaje",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d2702cc73ce33638",
        "x": 1560,
        "y": 540,
        "wires": []
    },
    {
        "id": "d2702cc73ce33638",
        "type": "mqtt-broker",
        "name": "hivemq",
        "broker": "18.157.172.72",
        "port": "1883",
        "clientid": "Alex-Alaffita314423",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8e940804943804a9",
        "type": "ui_group",
        "name": "Porcentaje",
        "tab": "8cc3010f6ffc8690",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c8e0259d6e180da",
        "type": "ui_group",
        "name": "Velocidad Encoder",
        "tab": "8cc3010f6ffc8690",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "871b919ff6aff6bd",
        "type": "ui_group",
        "name": "Comparación",
        "tab": "8cc3010f6ffc8690",
        "order": 5,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "698d3a03016e9be6",
        "type": "ui_group",
        "name": "Voltaje",
        "tab": "8cc3010f6ffc8690",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "04fd0b5dab664d73",
        "type": "ui_group",
        "name": "Velocidad Simulada",
        "tab": "8cc3010f6ffc8690",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "82df09e35408e8c1",
        "type": "ui_group",
        "name": "Menu",
        "tab": "8cc3010f6ffc8690",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8cc3010f6ffc8690",
        "type": "ui_tab",
        "name": "Capstone Project",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]